
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav{
    position: fixed;
    z-index: 10;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin sans";
    text-decoration: none;
    list-style: none;

   
}
.nav{
    min-height: 100vh;
    background: url(img/bground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.logo {
    height: 25%;
    width: 25%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 10px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 0 20px;

}
nav ul li a{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    
}
nav button{
    background: orange;
    padding: 12px 35px;
    font-size: 15px;
    border: none;
    color: white;

    

}
nav button:hover{
    color: red;
}
nav ul li a:hover{
    color: orange;
    text-decoration: underline;
    

}

.content button {
    background: orange;
    padding: 12px 35px;
    font-size: 15px;
    border: none;
    color: white;
    position: absolute;
    right: 35%;
    top: 100%;
}
.content{
    position: absolute;
    top: 35%;
    left: 30%;

}
h1{
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    
}

.content button:hover{
    color: red;
    cursor: pointer;
}
section{
    background: black;

}
ul li img{
    color: white;

}
.icon ul{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    background: black;
    padding: 60px 0;

}
.icon-box{
    text-align: center;
    color: white;
    float: right;

}
.icon-box img{
    width: 80px;
    margin-bottom: 20px;

}
.icon-box h1{
    font-size: 50px;
    margin: 10px 0;
    float: right;

}
.vertical{
    writing-mode: horizontal-tb;
    font-size: 18px;
    margin-top: 10px;
}
.about-section{
    width: 100%;
    margin: auto;
    padding: 70px 0;
    color: white;
    
}
.sub-title{
    color: orange;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
.main-title{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
   

}
.about-text{
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 20px;
    
    

}


.about-section img{
    width: 300px;
    border-radius: 50%;
    float: left;

}

    
.view:hover{
  background: orange;
}
.title .small{
    color: orange;
    font-size: 20px;
    font-weight: 600;
}
.view{
    background: none;
    padding: 12px 35px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    margin-left: 45%;
}

.why{
    background: black;
}
.why h3{
    color: orange;
    text-align: center;
}
.why h1 {
    color: white;
    text-align: center;
}
.spl{
    background: url(img/why.avif);
    color: white;
}
.spl ul{
    display: flex;
    align-items: center;
}
.spl{
    display: flex;
    justify-items: center;
    gap: 150px;
    background: black;
    padding: 60px 0;

}
.spl-box{
    text-align: center;
    color: white;
    float: right;

}
.spl-box img{
    width: 80px;
    margin-bottom: 20px;

}
.spl-box h1{
    font-size: 50px;
    margin: 10px 0;
    float: right;

}
.vert{
        writing-mode: horizontal-tb;
    font-size: 18px;
    margin-top: 10px;
}
.menu-section{
    padding: 40px;
    text-align: center;

}
.title{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;

}
.title .small{
    color: orange;
    font-size: 20px;
    font-weight: 600;

}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;

}
.item{
    display: flex;
    
    gap: 20px;


}
.item img{
    width: 80px;
    height: 80px;
    object-fit: cover;

    
    
}
.item h3{
    writing-mode: horizontal-tb;
    font-size: 20px;
    margin: 10px 0;
    color: white;
    float: right;
}
.heading{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;

}
.heading .small{
    color: orange;
    font-size: 20px;
    font-weight: 600;

}
.booking{
    background: black;
    width: 100%;
    height: 90%;
    margin-bottom: 0px 0px;


}
/*
.blog .heading{
    text-align: center;
}*/
.blog{
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
    color: white;
}

.card img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  justify-content: center;
}
.card h2{
    font-size: 22px;
    margin: 15px 0;
    color: white;
}
.card p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}
.btn{
    background-color: orange;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    background: darkred;
    color: white;
    gap: 40px;
}
.footer-text{
    line-height: 1.5;
    margin-bottom: 25px;
    max-width: 80%;
}
.footer-column h3{
    margin-bottom: 10px;
    font-size: 22px;
    color: white;
}
.footer-column p{
    margin: 5px 0px;
    font-size: 16px;
}
.footer-right table{
    width: 100%;
    color: white;
    font-size: 16px;
    border-collapse: collapse;

}
.footer-right td{
    padding: 8px 0;

}
/*
.wp{
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    
}*/
.footer-bottom{
    background-color: darkred;
    color: white;
    text-align: center;
}
.menu-section{
    align-items: center;
}
.heading .small{
    text-align: center;
}
.blog{
    background: url(img/bground.png);
    width: fit-content;
}
.menu-section{
    background: url(img/dining.avif);
}
.about-section img{
   position: absolute;
   float: left;
}


